*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background-color: #083B4C;
}

h1{
    color: white;
    text-align: center;
    padding: 30px;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.box{
    width: calc(82% / 7);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.number-bg{
    background-color: #1489B2;
}

.fizz-bg{
    background-color: #0BD6A1;
}

.buzz-bg{
    background-color: #FFD166;
}

.fizzBuzz-bg{
    background-color: #F0466F;
}